<div ng-controller="AboutCtrl">
     <div class="jumbotron">

            <div class="mini-head">
             <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-left">
                        <a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="DOER logo"> </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                 
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                    </li>
                        <!--<a href="http://www.mass.gov/eea/grants-and-tech-assistance/guidance-technical-assistance/agencies-and-divisions/doer/" target="_blank"><img class="img-responsive logo" src="images/DOER_JPEG_300dpi.jpg" alt="DOER logo" > </a></li>-->
                </ul>
            </div>
             <div class="menu">
                <a class="menu-link" href="#/" style="color:#004B8E" title="HomePage">Home <span>&nbsp;|</span></a>
                <a class="menu-link" ng-href="#/glossary" style="color:#004B8E" title="Glossary Page">Glossary</a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/contact" title=" Contact Information">Contact</a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/FAQs" title="FAQs related to program">FAQs<span>&nbsp;|&nbsp;</span></a>
                <a class="menu-link" style="float:right;color:#004B8E" ng-href="#/about" title="About tool program">About<span>&nbsp;|&nbsp;</span></a>
            </div>
        </div>
    </div>
    <div class="row marketing" style="margin-top:10px;margin-bottom:20px;margin-left:40px;margin-right:40px">
    <br/>
     <p >In our continued commitment to ensuring the adequacy, security, diversity, and cost-effectiveness of the Commonwealth's energy supply within the context of creating a cleaner energy future, the Department of Energy Resources (DOER) is pleased to present the <b> Energy Incentive and Rebate Portal</b>. The <b>Energy Incentive and Rebate Portal </b>is a one-stop-shop that consolidates the energy incentives offered by a variety of utility plants and energy organizations in Massachusetts.  </p>
     
     <p >Our motivation to create this portal is to provide a comprehensive list of incentives and rebates available to the public. This portal provides the opportunity to search, learn, and apply for these cost-saving incentives and rebates. By entering your zip code, you will be guided to incentives and rebates in your area. These incentives and rebate links direct you to the respective utility company’s application.</p>
  
     <p >
      To help guide your experience, we organized the list of incentives and rebates in the following way: 
     </p>
     <div class="modal-body row ">
   <div class="col-md-6" style="padding-left:30px">
 
   <b>Who are you?</b>
      <ul>
      <li>Resident</li>
      <li>Low-income resident</li>
      <li>Business/institution</li>
      <li>Agricultural entity</li>
      <li>Industry</li>

      </ul>
     
   </div>
   <div class="col-md-6 ">
      <b>What are you looking for?</b>
      <ul>
      <li>Appliances</li>
      <li>Energy Audit</li>
      <li>Lighting</li>
      <li>Heating and Cooling</li>
      <li>Solar Electricity</li>
      <li>Electric Vehicles</li>
      <li>New Construction</li>
      <li>Remodeling</li>
      <li>Financing</li>
      <li>Renewable Power</li>
      </ul>
   </div>
</div>

      <p >
         If you have any questions regarding a specific incentive or rebate, we are encouraging you to call the utility company that is application is related to.
      </p >
     
      <p >Please contact us with feedback about this portal at: DOER.Energy@State.MA.US.</p>
     
      <p >If you have any questions on how the portal works or need assistance navigating through please contact us by telephone at<b> (617) 626-7300 </b>or by email at:<a href="mailto:DOER.Energy@State.MA.US" target="_top">DOER.Energy@State.MA.US</a> .</p>
   </div>	
</div>